.to-do-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &__complete,
  &__remove {
    flex: 0 0 48px;
  }
  &__textbox {
    flex-grow: 1;
    padding: 0 5px;
  }
  &__text {
    font-size: 18px;
    line-height: 150%;
    &._completed {
      text-decoration: line-through;
      color: var(--second-text-color);
    }
  }

  &__remove {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: 0.1s ease;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 3px;
      height: 50%;
      left: 50%;
      top: 25%;
      background-color: var(--alert-color);
    }
    &::before {
      transform: translateX(-50%) rotate(-45deg);
    }
    &::after {
      transform: translateX(-50%) rotate(45deg);
    }
    &:hover {
      background-color: rgba(#ef476f, 0.2);
    }
  }
}
