:root {
  --primary-font: "Open Sans", sans-serif;

  --primary-color: #00f;

  --dark-background-color: #000;
  --light-background-color: #ffffff;

  --text-color: #000;
  --second-text-color: #aaa;
  --light-text-color: #fff;

  --hover-color: #444;

  --success-color: #06d6a0;
  --info-color: #118ab2;
  --alert-color: #ef476f;

  --success-hover-color: #05a47b;
  --info-hover-color: #0d6683;
  --alert-hover-color: #eb184a;

  --disabled-element-color: #eee;
  --muted-color: #ccc;
}

html {
  background-color: var(--light-background-color);
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 18px;
  height: 100%;
}

body {
  min-height: 100%;
}
