<main class="to-do">
  <div class="container">
    <ul class="to-do-list">
      <li class="to-do-item">
        <label class="checkbox to-do-item__complete">
          <input type="checkbox" class="checkbox__input" />
          <span class="checkbox__circle"></span>
        </label>
        <p class="to-do-item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aliquam!
        </p>
        <button type="button" class="to-do-item__remove"></button>
      </li>
    </ul>
  </div>
</main>
